<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/ant/dashboard">
        <span nz-icon nzType="pie-chart"></span>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item routerLink="/ant/components">
        <span nz-icon nzType="desktop"></span>
        <span>Components</span>
      </li>
      <li nz-submenu nzTitle="User Management" nzIcon="user">
        <ul>
          <li nz-menu-item>User List</li>
          <li nz-menu-item>Permissions</li>
          <li nz-menu-item>Migration</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item routerLink="/material/">
        <span nz-icon nzType="desktop"></span>
        <span>Material Design</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="d-flex align-items-center">
      <h1 class="m-0 px-2 ">
        My Application
      </h1>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>User</nz-breadcrumb-item>
        <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
